{% extends "base.html" %}
{% load static %}
{% block title %}FAQs{% endblock %}

{% block content %}
<div class="header faq-header">
    <div class="home-header-container faq-header-container">
    <h1 class="title faq-title">FAQ</h1>
    </div>
</div>

<div class="faq-outer">
    <h2 class="faq-subtitle">General</h2>
    <div class="faq-item-container">
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">What are some of the club’s main activities? </p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    Our club’s main activities currently consist of developing our curriculum, code corner, fundraising, advertisement, coding editorial, and tutoring. We are always open to implementing new ideas that our members suggest.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">Does the club earn profit? </p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    Our club earns profits from our many fundraising events. We have an entire committee dedicated to organizing each event and our profits from the event go towards our different club platforms such as our tutoring, website, etc. 
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">How can CFA benefit me?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    As technology continues to develop and become more relevant in our society, coding is becoming a necessary skill. CFA allows everyone, even non-coders, to share their knowledge and enrich the coding foundation of every individual. Through collaborating with others, you will not only further develop your coding knowledge but will also develop your communication skills. Join CFA to grasp at least a basic understanding of coding and be a part of the future.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">Can non-coders participate in the club? </p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    Of course, one of the main goals of our clubs is to bring in non-coders to this community and share knowledge together. You will have the opportunity to participate in any activities in the club.
                </p>
            </div>
        </div>
    </div>
    <h2 class="faq-subtitle">Tutoring</h2>
    <div class="faq-item-container">
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">Are there any prerequisites to become a tutor?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    Yes, you are required to have an introductory level of coding based on your preferred tutoring (Java or Scratch). However, the curriculum is open to non-coders who want to learn and they too can become a tutor if they learn all the necessary concepts. We will guide any non-coders through the process if interested.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">What is the role of the tutors?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    The main roles of the tutors are to provide a safe, enjoyable environment for the optimal learning experience for the students as well as ensuring the students receive a quality education to benefit their potential pursuit of coding in the future. 
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">Can I also become a tutor? If yes, what should I do?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    As there are certain requirements to become a tutor, not everyone will be able to have the opportunity. But that means once you have met the requirements, you are set to become a tutor. To earn yourself an opportunity to be a tutor, you can request to see our curriculum and come to our weekly meetings to get support. 
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">How will the tutors manage the class together?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    There will be a total of 3 tutors, 1 instructor, and 2 assistants. While the instructor will lead the class mainly by themselves, the assistants will go around the classroom and help students who need help during the lesson and students who might need extra help or supervision to make sure they don’t have difficulties along with the program. 
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">What are some benefits of becoming a tutor? </p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    Once you become a tutor, you will be recorded of your participation and acquire service hours; A tutor will gain more teaching experiences and collaborations along with the privilege to identify his or her title as an official tutor.  In addition, the best monthly tutor(decided through survey from students) will be posted on our Instagram and be rewarded with a gift.
                </p>
            </div>
        </div>
    </div>
    <h2 class="faq-subtitle">Curriculum</h2>
    <div class="faq-item-container faq-last-container">
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">What would be the range of ages for level 1 Java and Scratch?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    As of now, level 1 Scratch age range is 8-10 while level 1 Java is anyone above 11 years old. However, we are lenient with this range and are open to allowing younger kids to move up a level or older kids to move down a level depending on their performance in class.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">What outcomes/benefits to the students who are taking the curriculum? </p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    The curriculums are designed to provide free, but quality, coding education to the students of early age to build a solid foundation with regards to their coding knowledge by the end of the program. It encourages them to dive into the coding world and opens up coding-related careers in the future.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">How would the curriculums further develop?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    Although we currently have only level 1 for both Java and Scratch, our club is planning to create level 2 curriculums of those coding languages to promote students who are highly passionate about furthering their coding knowledge after completing level 1 courses. This will be completed by the end of the year. Additionally, our club has a special service called “coding corners” where we provide free access to laptops to students who have engaged consistently and performed at a high level in the program. We provide coding guides/tutorials that allow them to continue their pursuit of coding in their future career paths. 
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">Do the students have to bring computers to the lesson? What are the materials required? </p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    Students are NOT required to bring their personal computers as our club will provide all the materials needed for the course for FREE such as laptops, notebooks, stationery, and etc.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-button">
                <p class="faq-question">Will other organizations/groups be permitted to access and modify CFA’s curriculums for educational purposes?</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                <p>
                    In this case, the organizations can contact our club through emails or calls to further discuss the specific plans of curriculum usages and logistics, but our club is always open to collaborate and improve the current curriculum for educational purposes. 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}